*{
    font-family: Arial, Helvetica, sans-serif;
}

label {
    background-color:  lightgrey;
    color: blue;
    width: 190px;
    float: left;
}

div:first-child{
    float: :left
}

.clear {

    clear: both;
}
