* {
  text-align: center;
  font-family: cursive;
  margin: 0px;
  padding: 0px;
}

.content{
    background-color: red;
width: 1200px;
min-height: 500px;
margin: auto;
border: 2px solid black;
}
 
header,
footer {
  height: 80px;
  color: white;
  background-color: #8e3557;
  padding-top: 10px;
}

nav {
  height: 100px;
  background-color: #4a1a2c;
}

main section {
  background-color: #e6e2af;
  height: 500px;
  border: 20px solid #787746;
}

@media screen {
  
} and (max-width: 1200px){

}

@media screen and ( max-width: 750px) {
  background : url

}