*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

section{
    margin: auto;
    height: 180px;
    width: 99%;
    border: 3px orange solid;
    display: flex;
    
}

.red{
    background-color: red;
    height: 40px;
    width: 40px;
}

.green{
    background-color: green;
    height:40px;
    width: 80px;
}

.yellow{
    background-color: yellow;
    height: 40px;
    width: 40px;
}

#one{
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

#two{
    justify-content: ;
}