*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#content{
    width: 1200px;
    background-color: orange;
    margin: auto;

}

main section:first-child{
    display: flex;
    flex-wrap: wrap ;
}

.equipe{
    width: 200px;
    height: 300px;
    border: 1px black solid;
    margin: 5px;
}

.equipe:nth-child(odd){
    background-color: pink;
}

.equipe:nth-child(even){
    background-color: lightblue;
}
@media screen and (max-width: 1200px) {
#content{
    width: 80%
    
}
} 



